<template>
  <div class="container">
    <h1>Suscribers List</h1>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="exampleInputEmail1">Enter the last name</label>
          <input
            type="text"
            class="form-control"
            aria-describedby="emailHelp"
            v-model="suscriberFilters.lastName"
            @keyup.enter="searchSuscribers"
          />
          <small id="emailHelp" class="form-text text-muted"
            >Search by last name.</small
          >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <br />
          <br />
          <input
            type="checkbox"
            class="custom-control-input"
            id="orderbyDesc"
            v-model="suscriberFilters.orderByLastNameDesc"
            @change="searchSuscribers"
          />
          <label class="custom-control-label" for="orderbyDesc"
            >Order by Last Name descening</label
          >
        </div>
      </div>
      <div class="col">
        <br />
          <br />
        <button type="button" class="btn btn-primary" @click="searchSuscribers">Search</button>
      </div>
    </div>
    

    <div class="jumbotron" v-if="dataLoading">
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <span><b> Loading Information...</b></span>
    </div>

    <table class="table table-striped table-hover" v-else>
      <thead>
        <tr class="bg-dark text-white">
          <th scope="col">#</th>
          <th scope="col">Last Name</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
        </tr>
      </thead>

      <tbody>
        <tr v-for="item in suscribers" :key="item.id">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.lastName }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
        </tr>
      </tbody>
    </table>
    <div class="form-group row">
      <div class="alert alert-danger" role="alert" v-if="errorLoading">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</template>

<script>
import mailSuscriberService from "@/services/mailSuscriberService";

export default {
  name: "Permissions",
  data() {
    return {
      dataLoading: false,
      suscribers: [],
      errorLoading: false,
      errorMessage: "",
      suscriberFilters: {
        orderByLastNameDesc: false,
        lastName: "",
      },
    };
  },
  created() {
    this.getSuscribers();
  },
  methods: {
    getSuscribers() {
      let self = this;
      self.dataLoading = true;

      mailSuscriberService
        .getSuscribers(self.suscriberFilters)
        .then((payLoad) => {
          if (payLoad.httpCode === 200) {
            self.suscribers = payLoad.data;
          } else {
            self.errorMessage = payLoad.message;
            self.errorLoading = true;
          }
        })
        .catch((e) => {
          self.errorMessage = "Something was wrong, try again later.";
          self.errorLoading = true;
          console.log(e);
        })
        .then(function() {
          self.dataLoading = false;
        });
    },
    searchSuscribers(){
      this.getSuscribers();
    }
  },
};
</script>

<style scoped>
.bd-over-modal-lg .modal-dialog {
  display: table;
  position: relative;
  margin: 0 auto;
  top: calc(50% - 24px);
}

.bd-over-modal-lg .modal-dialog .modal-content {
  background-color: transparent;
  border: none;
}
</style>
