<template>
  <div class="jumbotron container">
    <h1>Add Suscriber</h1>
   <hr>
    <form-suscriber :suscriber="suscriber"></form-suscriber>

  </div>
</template>


<script>
// @ is an alias to /src
import formSuscriber from "@/components/FormSuscriber";

export default {
  components:
  {
    formSuscriber,
},
  name: 'Suscriber',
  data() {
    return {
      suscriber:{
        id:0,
        name: "",
        lastName: "",
        email: ""
      }
    }
  }
}
</script>
