<template>
    <div class="container">
       <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" v-model="suscriber.name" placeholder="the name of suscriber" maxlength="60">
          </div>
           <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" v-model="suscriber.lastName" placeholder="the last name of suscriber" maxlength="120">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" v-model="suscriber.email" placeholder="the email of suscriber" maxlength="120">
          </div>
         
           <div class="form-group">
            <button type="button" class="btn btn-primary float-right" @click="saveSuscriber" :disabled="processingData">{{ buttonMessage }}</button>
             <div class="spinner-border text-danger float-right mr-1" role="status" v-if="processingData">
                  <span class="sr-only">Loading...</span>
            </div>
          </div>
         

          <div class="form-group row">
              <div class="alert alert-danger" role="alert" v-if="errorValidation">
                  Some information is necessary:
                  <ul>
                    <li v-for="(item, index) in validationErrors" :key="index" >{{ item }}</li>
                  </ul>
              </div>
          </div>

           <div class="form-group row">
              <div class="alert alert-danger" role="alert" v-if="errorSaving">
                  {{ errorMessage }}
              </div>
          </div>

            <div class="form-group row">
              <div class="alert alert-success" role="alert" v-if="informationSaved">
                 Information saved successfully
              </div>
          </div>
        </form>
         
    </div>
</template>

<script>

import mailSuscriberService from "@/services/mailSuscriberService";

export default {
  name: 'FormSuscriber',
  props: {
    suscriber: Object
  },
  data() {
    return {
      validationErrors: [],
      buttonMessage: "Save Information",
      errorValidation: false,
      processingData: false,
      errorSaving: false,
      errorMessage: "",
      informationSaved: false
    }
  },
  mounted() {
  },
  methods:  {
   
     saveSuscriber(){
        let self = this;
        self.validateInformation();
        self.informationSaved = false;
        self.errorSaving = false;
        self.processingData = false;

        if(self.validationErrors.length > 0){
          self.errorValidation = true;
        }else{

          self.buttonMessage = "Saving...";
          self.errorValidation = false;
          self.processingData = true;

           if(self.suscriber.id === 0){
               self.addSuscriber();
            }

        }
     },
    addSuscriber(){
       let self = this;

      mailSuscriberService
        .addSuscriber(self.suscriber)
        .then((payLoad) => {

          console.log(payLoad);

          if (payLoad.httpCode === 201) {

            self.informationSaved = true;

          } else {
            self.errorMessage = payLoad.message;
            self.errorSaving = true;
          }
        })
        .catch((e) => {
          self.errorMessage = "Something was wrong, try again later.";
          self.errorLoading = true;
          console.log(e);
        })
        .then(function() {
          self.dataLoading = false;
          self.processingData = false;
          self.buttonMessage = "Task completed";
        });

        
    },
     validateInformation(){

       let self = this;
       self.validationErrors.splice(0, self.validationErrors.length);

       if(!self.suscriber.name){
         self.validationErrors.push("Suscriber name is required");
       }

        if(!self.suscriber.email){
         self.validationErrors.push("Suscriber email is required");
       }

       if(!self.suscriber.email.includes("@")){
         self.validationErrors.push("Email must have correct format");
       }
     },
     clearForm(){
       let self = this;
       self.suscriber.name = "";
       self.suscriber.lastName = "";
       self.suscriber.email = "";
     }
  }
}
</script>
